#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.botoncenter {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.boxApp {
  display: flex;
  align-items: center;
  justify-content: center;
}