#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.navbar{
  display:flex;
  color:#ffffff;
  max-width:1280px;
  justify-content: start;
}
img{
  max-width:35px;
  max-height:25px;

}
h3{
  margin:0;
  
}
.icon{
  border-radius: 0px;
  border: 0px ;
  padding: 0em 0em;
  font-size: 0em;
  font-weight: 0;
  background-color: #212121;
}

iframe{
  background-color:#23282b;
}
textarea{
  background-color:#23282b;
  color:#fffacd;
}